* {
    margin: 0;
    padding: 0;
}

body {
    color: #333;    
    background-image: url("assets/img/background.jpeg");

}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    box-sizing: border-box;
    margin-top: 100px; 
}

.heading1 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
}

.heading2 {
    font-size: 15px;
    color: #7f7d80;
    text-align: center;
    margin-bottom: 20px;
}

.username, .email,.password ,.confirm-password {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #f7f7f7;
    transition: border-color 0.3s;
}


.click{
    background-color: #B0A0BF;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    transition: background-color 0.3s ease;
    margin: 10px auto;
    display: block; 
    width: 100%;
    /* &hover{ 
        background-color: #7c10db;

     } */
}
.click:hover {
    background-color: #7c10db;
}

a {
    color: #7c10db;
    text-decoration: none;
    transition: color 0.2s;
}

.heading3 {
    font-size: 15px;
    text-align: center;
}
.errormsg{
    color: red;
    display: block;
    font-size: 10px;
    margin-bottom: 5px;
}